* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  
  }
  #header {
    display:flex;
    
  }
  
  #header-img {
    width:50px;
    cursor:pointer;
  }
  
  #nav-bar {
    position: fixed;
    top:0px;
    display:flex;
    width:100%;
    justify-content:space-between;
    overflow:hidden;
  
  }
  
  .nav-link {
    text-decoration: none;
    color:#000000;
    font-size:15px;
    float: left;
  }

  @media (min-width: 1200px){
    body{
        background-color: blueviolet;
    }
  }